@media (min-width: 576px) and (max-width: 767px){
    #header .logo-header {
        width: 40px;
    }    

    .head h3 a {
        font-size: 15px;
    }

    .head .nav-0 {
        display: flex;
    }

    .nav-0 .f-menu {
        display: block;
        display: flex;
        margin: auto 10px;
    }

    .nav-0 .nav-1 {
        display: none;
    }

    #header .nav {
        display: block;
    }
    

    #header .nav a {
        font-size: 13px;
    }

    #header .nav .l-first {
        margin: 0 5px;
    }

    .nav .l_show .diadiem {
        max-width: 300px;
        top: 25px;
    }


    .search {  
        border: none;
    }

    .search input {
        padding: 5px 10px;
        display: none;
    }

    .form #ngayhethan-passport {
        width: 80%;
    }

    .form #dia-chi,
    .form #ma-gt {
        width: 70%;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){
    #header .logo-header {
        width: 40px;
    }

    .head h3 a {
        font-size: 15px;
    }

    #header .nav a {
        font-size: 13px;
    }

    #header .nav li {
        margin: 0 5px;
    }

    .nav .l_show .diadiem {
        max-width: 300px;
        top: 25px;
    }

    .search {  
        border: none;
    }

    .search input {
        padding: 5px 10px;
        display: none;
    }

    .form #ngayhethan-passport,
    .form #dia-chi,
    .form #ma-gt {
        width: 70%;
    }
    
}

@media (min-width: 992px) {

 }


@media (min-width: 1200px) {
    
 }