* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --mauchu: #2d4271;
  --mauchu-slider: #4d4aef;
  --trang: #fff;
  --mau-do-btn: #fd5056;
}

.l_none {
  list-style-type: none;
}

#banner {
  position: relative;
  top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.anh-banner {
  width: 100%;
}

.anh-banner .banner-img{
  max-width: 100%;
}
#content {
  margin: 50px auto;
  color: var(--mauchu);
}

.tieu-de {
  text-align: center;
  width: 100%;
}
.tieu-de h4 {
  color: var(--mau-do-btn);
}

.noi-dung {
  width: 80%;
  position: relative;
  left: 10%;
}

#footer {
  color: var(--mauchu);
}

#footer .container-fluid {
  background-color: #f9f5f5;
}

#footer .footer-box p {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
}

.footer-box .danh-sach-tour li {
  list-style: none;
}

.danh-sach-tour li a {
  text-decoration: none;
  color: var(--mauchu);
  font-size: 13px;
}

.mang-xh .danh-sach-tour {
  display: flex;
}

.mang-xh .danh-sach-tour li a {
  font-size: 24px;
  margin-right: 16px;
}

.mang-xh .danh-sach-tour li a:hover {
  opacity: 0.7;
}

.mang-xh .phone {
  background-color: var(--mau-do-btn);
  padding: 12px;
  width: 150px;
  color: var(--trang);
  text-align: center;
  border-radius: 10px;
}
